body {
	width: auto;
	margin: 0px;   
	position: relative;
    height: 700px;
    background-color: #F4F2F2;
    display: none;
    animation: fadeInAnimation ease 3s; 
	animation-iteration-count: 1; 
	animation-fill-mode: forwards; 

}

@keyframes fadeInAnimation { 
	0% { 
		opacity: 0; 
	} 
	100% { 
		opacity: 1; 
	} 
} 

#navbar {
	position: fixed;
	width: 100%;
	height: 3.5vw;
	background-color: #304330;
	margin: 0px;
	z-index: 1;
}

#my-name {
	float: left;
	padding-left: 1.75%;
	padding-top: .8%;
	text-decoration: none;
	font-family: 'Cormorant', serif;
	font-size: 150%;
	color: #FFFFFF;
}

.nav-link {
	float: right;
	padding-left: 1.1%;
	padding-right: 1.1%;
	padding-top: 1%;
	text-decoration: none;
	font-family: 'Cormorant', serif;
	font-size: 125%;
	color: #FFFFFF;
	height: 2.5vw;
	width: 7%;
}

/*.links {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}*/

.nav-link:hover {
	background-color: #586454;
	/*box-shadow: 0 4px 10px rgba(0,0,0,0.4);*/
	cursor: pointer;
	font-weight: bold; 
}

#timeline {
	position: absolute;
	top: 20%;
	left: 12.5%;
	margin: 0px;
}

#points {
	position: absolute;
	top: 20.15%;
	width: 60%;
	left: 20%;
	display: flex;
	direction: row;
	justify-content: space-between;
}

#past-button, #present-button, #future-button {
  height: 25px;
  width: 25px;
  background-color: #3C2263;
  border-radius: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

#past-button:hover, #present-button:hover, #future-button:hover {
	cursor: pointer;
	box-shadow: 0 4px 10px rgba(0,0,0,0.35);
	z-index: 1;
}

#present-button {

	opacity: 1;
}

#past-button, #future-button, .label1, .label3, #timeline {
	opacity: .65;
}


#labels {
	position: absolute;
	top: 26%;
	width: 60%;
	left: 20%;
}

.label1 {
  color: #3C2263;
  font-family: 'Cormorant', serif;
  font-size: 150%;
  transform: translateY(-50%);
  position: absolute;
  left: -1%;
}

.label2 {
  color: #3C2263;
  font-family: 'Cormorant', serif;
  font-size: 150%;
  transform: translateY(-50%);
  position: absolute;
  left: 46.5%;
}

.label3 {
  color: #3C2263;
  font-family: 'Cormorant', serif;
  font-size: 150%;
  transform: translateY(-50%);
  position: absolute;
  left: 95.25%;
}

#present, #past, #future {
	position: absolute;
	width: 100%;
	height: 100%
}

#past {
	opacity: 0;
	transition: opacity 1s;
}

#future {
	opacity: 0;
	transition: opacity 1s;
}

#present {
	display: inline;
	transition: opacity 1s;
}



.carousel, .carousel-image {
  width: 27%; /* Some images slightly smaller */
  height: 27vw;
  border-radius: 7%;
  z-index: 2;
}

.carousel {
	position: absolute;
	top: 36%;
	left: 19vw;
	overflow: hidden;
}

.carousel-image-row {
	width: 28%; /* Some images slightly smaller */
    height: 28vw;
	position: absolute;
	left: 0px;
	transition: 0.65s left;
	z-index: 1;
}

img {
	position: absolute;
  	height: 100%;
  	width: auto;
  	z-index: 2;
}

.button-next, .button-previous {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    z-index: 2;
}


.hidden {
  visibility: hidden;
}

.description {
	position: absolute;
	top: 42%;
	left: 52.5vw;
	width: 32%;
	height: 23vw;
	font-size: 175%;
	color: #3C2263;
}

/* Source: https://www.the-art-of-web.com/css/fading-slideshow-no-jquery/ */

.carousel-image-row img:nth-of-type(1) {
    animation-name: fader;
    animation-delay: 3s;
    animation-duration: 2s;
    z-index: 20;
  }

.carousel-image-row img:nth-of-type(2) {
z-index: 10;
}

.carousel-image-row img:nth-of-type(n+3) {
display: none;
}

@keyframes fader {
0% { opacity: 1.0; }
100%   { opacity: 0.0; }
}




/* Code below taken from WDD Lab 6! */
.loader.four .rings {
	position: relative;
	top: 400px;
	left: 438px;
	width: 115px;
	height: 115px;
}

.loader.four .ring {
	width: 350%;
	height: 350%;
	border-radius: 50%;
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
}

.loader.four .ring .mask {
	width: 93%;
	height: 93%;
	border-radius: 50%;
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	background-color: #F4F2F2;
	font-size: 50px;
	text-align: center;
	vertical-align: center;
	line-height: 1300%;
}

.loader.four .ring .arc-container {
	width: 80%;
	height: 100%;
	position: absolute;
	left: 10%;
	overflow: hidden;
	transform-origin: 50% 50%;
	/* TODO: PART 4 - Add spin animation */
	animation-name: spin;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: forward;
}

/* TODO: PART 4 - Add spin shifts for other rings */

.loader.four .ring .arc {
	width: 100%;
	height: 50%;
	position: absolute;
	background: #3C2263;
	/* TODO: PART 4 - Add color animation */
	animation-name: colorchange;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: forward;
}

/* TODO: PART 4 - Add spin color shifts for other rings */

/* TODO: PART 4 - Create spin animation */

@keyframes spin{
	from { 
        transform: rotate(0deg); 
    } to { 
        transform: rotate(360deg); 
    }
}

#name {
	position: relative;
	top: 255px;
	left: 393px;
	z-index: 2;
	font-size: 135px;
	font-family: 'Cormorant', serif;
	color: #304330;
	width: 30%;
}


@media screen and (max-width: 1400px) and (max-height: 900px) { 

	body {
		height: 750px;
	}


	#navbar {
		height: 4.1vw;
	}

	#my-name {
		padding-top: 1%;
	}

	.nav-link {
		padding-top: 1.1%;
		padding-left: 1%;
		padding-right: 1%;
		height: 3vw;
	}

	.description {
		top: 42%;
		width: 33%;
		font-size: 158%;
	}

	#labels {
		left: 19.75vw;
	}

	.carousel, .carousel-image {
		width: 28%; /* Some images slightly smaller */
		height: 28vw;
		border-radius: 7%;
		z-index: 2;
	}

	.carousel {
		left: 18vw;
	}

	.loader.four .ring {
		width: 330%;
		height: 330%;
	}

	.loader.four .rings {
		top: 410px;
		left: 385px;
	}

	#name {
		top: 280px;
		left: 350px;
		font-size: 110px;
	}
	


}

@media screen and (max-width: 1317px) and (max-height: 800px){ /* a Mac */

	body {
		height: 800px;
	}


	#navbar {
		height: 4.1vw;
	}

	#my-name {
		padding-top: 1%;
	}

	.nav-link {
		padding-top: 1.1%;
		padding-left: 1%;
		padding-right: 1%;
		height: 3vw;
	}

	.description {
		top: 39%;
		width: 33%;
		font-size: 155%;
	}

	.loader.four .ring {
		width: 300%;
		height: 300%;
	}

	.loader.four .rings {
		top: 415px;
		left: 360px;
	}

	#name {
		top: 290px;
		left: 340px;
		font-size: 100px;
	}

}


@media screen and (max-width: 1300px) and (max-height: 900px) { 

	body {
		height: 750px;
	}


	#navbar {
		height: 4.1vw;
	}

	#my-name {
		padding-top: 1%;
	}

	.nav-link {
		padding-top: 1.1%;
		padding-left: 1%;
		padding-right: 1%;
		height: 3.02vw;
	}

	.description {
		top: 42%;
		width: 33%;
		font-size: 146%;
	}

	#labels {
		left: 19.75vw;
	}

	.carousel, .carousel-image {
		width: 28%; /* Some images slightly smaller */
		height: 28vw;
		border-radius: 7%;
		z-index: 2;
	}

	.carousel {
		left: 18vw;
	}

	.loader.four .ring {
		width: 320%;
		height: 320%;
	}

	.loader.four .rings {
		top: 390px;
		left: 350px;
	}

	#name {
		top: 260px;
		left: 320px;
		font-size: 105px;
	}


	


}


@media screen and (max-width: 1200px) and (max-height: 800px) { 

	body {
		height: 750px;
	}


	#navbar {
		height: 4.1vw;
	}

	#my-name {
		padding-top: 1%;
	}

	.nav-link {
		padding-top: 1.1%;
		padding-left: 1%;
		padding-right: 1%;
		height: 3.02vw;
	}

	.description {
		top: 42%;
		width: 33%;
		font-size: 135%;
	}

	#labels {
		left: 19.75vw;
	}

	.carousel, .carousel-image {
		width: 28%; /* Some images slightly smaller */
		height: 28vw;
		border-radius: 7%;
		z-index: 2;
	}

	.carousel {
		left: 18vw;
	}

	.loader.four .ring {
		width: 300%;
		height: 300%;
	}

	.loader.four .rings {
		top: 380px;
		left: 320px;
	}

	#name {
		top: 255px;
		left: 295px;
		font-size: 105px;
	}


}

@media screen and (max-width: 1150px) and (max-height: 900px) { 

	.description {
		top: 42%;
		width: 33%;
		font-size: 120%;
	}

	
	.loader.four .ring {
		width: 275%;
		height: 275%;
	}

	.loader.four .rings {
		top: 375px;
		left: 305px;
	}

	#name {
		top: 250px;
		left: 285px;
		font-size: 100px;
	}


}




@media screen and (max-width: 1075px) and (max-height: 769px){ /* a Mac */

	body {
		height: 800px;
	}


	#navbar {
		height: 4.2vw;
	}

	#my-name {
		padding-top: .8%;
	}

	.nav-link {
		padding-left: 1%;
		padding-right: 1%;
		height: 3.2vw;
		width: 8%;
	}

	.description {
		top: 38.5%;
		width: 33%;
		font-size: 120%;
	}

	#labels {
		left: 19.75vw;
	}

	.carousel, .carousel-image {
		width: 28%; /* Some images slightly smaller */
		height: 28vw;
		border-radius: 7%;
		z-index: 2;
	}

	.carousel {
		left: 18vw;
	}

	.loader.four .ring {
		width: 280%;
		height: 280%;
	}

	.loader.four .rings {
		top: 370px;
		left: 260px;
	}

	#name {
		top: 234px;
		left: 220px;
		font-size: 120px;
	}


	


}

