body {
	width: auto;
	margin: 0px;
	/*background-image: url("../img/cliffside.jpg");
	background-position: center center;
	background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
    background-size: cover;*/
    position: relative;
    height: 700px;
    background-color: #F4F2F2;
    display: none;
    animation: fadeInAnimation ease 3s; 
	animation-iteration-count: 1; 
	animation-fill-mode: forwards;

}

#navbar {
	position: fixed;
	width: 100%;
	height: 3.5vw;
	background-color: #304330;
	margin: 0px;
	z-index: 1;
}

#my-name {
	float: left;
	padding-left: 1.75%;
	padding-top: .8%;
	text-decoration: none;
	font-family: 'Cormorant', serif;
	font-size: 150%;
	color: #FFFFFF;
}

.nav-link {
	float: right;
	padding-left: 1.1%;
	padding-right: 1.1%;
	padding-top: 1%;
	text-decoration: none;
	font-family: 'Cormorant', serif;
	font-size: 125%;
	color: #FFFFFF;
	height: 2.5vw;
	width: 7%;
}

/*.links {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}*/

.nav-link:hover {
	background-color: #586454;
	/*box-shadow: 0 4px 10px rgba(0,0,0,0.4);*/
	cursor: pointer;
	font-weight: bold; 
}

#title {
	position: relative;
	font-family: 'Montserrat', sans-serif;
	font-size: 500%;
	font-style: medium;
	color: #000000;
	top: 20%;
	left: 26.5vw;
	width: 50%;
	height: 30vh;
	animation: fadeInUp ease 3s;
}

#synopsis {
	position: relative;
	font-family: 'Crimson Pro', serif;
	font-size: 300%;
	font-weight: lighter;
	color: #3C2263;
	top: 20%;
	left: 26.5vw;
	width: 50%;
	height: 20vh;
	animation: fadeInUp ease 3s;
}

/* Source: https://www.geeksforgeeks.org/how-to-create-fade-in-effect-on-page-load-using-css/ */

@keyframes fadeInAnimation { 
	0% { 
		opacity: 0; 
	} 
	100% { 
		opacity: 1; 
	} 
} 

/* Source: https://css-tricks.com/add-page-transitions-css-smoothstate-js/ */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@media screen and (max-width: 1400px) and (max-height: 900px) { 

	body {
		height: 600px;
	}

	#navbar {
		height: 4.1vw;
	}

	#my-name {
		padding-top: 1%;
	}

	.nav-link {
		padding-top: 1.1%;
		padding-left: 1%;
		padding-right: 1%;
		height: 3vw;
	}

	#title {
		font-size: 450%;
		left: 16vw;
		width: 70%;
		top: 20.5%;
	}

	#synopsis {
		font-size: 275%;
		left: 12vw;
		width: 80%;
		top: 14.5%;
	}


}

@media screen and (max-width: 1319px) and (max-height: 900px) { 

	#title {
		font-size: 400%;
		left: 18vw;
		width: 65%;
		top: 21.5%;
	}

	#synopsis {
		font-size: 250%;
		left: 18vw;
		width: 65%;
		top: 8.5%;
	}


}

@media screen and (max-width: 1300px) and (max-height: 900px) { 

	#title {
		font-size: 400%;
		left: 16vw;
		width: 70%;
		top: 21.5%;
	}

	#synopsis {
		font-size: 250%;
		left: 21.5vw;
		width: 60%;
		top: 8.5%;
	}


}

@media screen and (max-width: 1200px) and (max-height: 900px) { 

	#title {
		font-size: 375%;
		left: 15vw;
		width: 70%;
		top: 21.5%;
	}

	#synopsis {
		font-size: 235%;
		left: 20vw;
		width: 60%;
		top: 8.5%;
	}


}

@media screen and (max-width: 1130px) and (max-height: 769px) { 

	#navbar {
		height: 4.2vw;
	}

	#my-name {
		padding-top: .8%;
	}

	.nav-link {
		padding-left: 1%;
		padding-right: 1%;
		height: 3.2vw;
		width: 8%;
	}

	#title {
		font-size: 500%;
		left: 16vw;
		width: 70%;
	}

	#synopsis {
		font-size: 300%;
		left: 17vw;
		width: 69%;
		top: 25%;
	}


}